* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2dddd;
    height: 100vh;
}

#chessBoard {
    width: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.color-green {
    color: green;
    font-size: 90px;
    margin-left: 1px;
    margin-top: -15px;
}

.color-red {
    color: red;
    font-size: 90px;
    margin-left: 1px;
    margin-top: -15px;
}