@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #fffaf5;
  color: #2b2b2b;
  line-height: 1.6;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  padding: 25px 0;
  background-color: transparent;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #1a1a1a;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  font-size: 15px;
  color: #333;
  font-weight: 500;
}

.nav-links li a:hover {
    color: #FAB758;
}

.language {
  font-size: 15px;
  cursor: pointer;
}

.language i {
  margin-left: 8px;
  color: #666;     
  font-size: 14px;
  vertical-align: middle;
  background: transparent; 
  border: none;            
}



.headerimage {
  padding: 80px 0;
  background: linear-gradient(to bottom, #fffaf5, #ffffff);
}

.headerimage-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.headerimage-left {
  flex: 1;
}

.rocket-img {
  max-width: 100%;
  height: auto;
}

.headerimage-right {
  flex: 1;
  max-width: 500px;
}

.headerimage-right h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2b2b2b;
  line-height: 1.3;
}

.headerimage-right p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  background-color: #fdbb42;
  color: white;
  padding: 14px 26px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #f59e0b;
}


.mobile-btn {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
}


.mobile-btn {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
}



