/* task 1 */

.box1 {
    background-color: lightblue;
    padding: 20px;
    margin: 30px;
}

.outer-box {
  background-color: #f9c74f;
  padding: 10px 20px 30px 40px; 
  margin: 20px;
}

.inner-box {
  background-color: #90be6d;
  padding: 5px 15px 25px 35px; 
}

.box2 {
  background-color: #f94144;
  margin: 10px;
  padding: 5px;
}

.box3 {
  background-color: #f3722c;
  margin: 20px 10px;
  padding: 10px 20px;
}

.box4 {
  background-color: #577590;
  margin: 5px 10px 15px 20px;
  padding: 20px 15px 10px 5px;
}

.centered-box {
  width: 300px;
  background-color: #43aa8b;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

